@import "legacy_style.css";

@keyframes appear {
    0% { left: 0%; opacity: 0; }
    20% { opacity: 0; }
    100% { opacity: 1; }
}
    
:root {
    color-scheme: dark;
}

body {
    background-color: rgb(29, 29, 29);
}

div.scribble_container {
    background-image: url('assets/images/scribble.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

/* Position the container */
div.title_container {
    top: 0px;
    left: 0px;
    width: 89%;
    /* Height should be the same as content in container */
    height: auto;
}

h1.cool_title {
    font-family: 'Alfa Slab One, Regular';
    src: url('assets/fonts/AlfaSlabOne-Regular.ttf') format('truetype');
    font-size: 120px;
    position: relative;
    top: 80px;
    left: 10%;
    width: 100%;
    background-image: linear-gradient(45deg, rgb(168, 153, 255), #feb695);
    background-size: 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
    animation-timing-function: ease-out;
    animation-name: appear;
    animation-duration: 1.5s;
}

a {
    /* Default text style */
    font-size: 20px;
    color:white;
    /* No background color */
    background-color: transparent;
}

a[href] {
    color:rgb(202, 193, 255);
    background-color:rgba(0, 0, 0, 0.356);
    font-size:25px
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}